#include "Base.xcconfig"
COPY_PHASE_STRIP = NO
GCC_DYNAMIC_NO_PIC = NO
GCC_OPTIMIZATION_LEVEL = 0
GCC_SYMBOLS_PRIVATE_EXTERN = NO
ONLY_ACTIVE_ARCH = YES

COMBINE_HIDPI_IMAGES = YES
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = STTwitterDemo/STTwitter-Prefix.pch
INFOPLIST_FILE = STTwitterDemo/STTwitter-Info.plist
PRODUCT_NAME = STTwitter
WRAPPER_EXTENSION = app
