#include "Base.xcconfig"
BUNDLE_LOADER = "$(BUILT_PRODUCTS_DIR)/STTwitter.app/Contents/MacOS/STTwitter"
COMBINE_HIDPI_IMAGES = YES
FRAMEWORK_SEARCH_PATHS = "$(DEVELOPER_LIBRARY_DIR)/Frameworks"
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = "STTwitterDemo/STTwitter-Prefix.pch"
INFOPLIST_FILE = "UnitTests/STTwitterTests-Info.plist"
PRODUCT_NAME = STTwitterTests
TEST_HOST = "$(BUNDLE_LOADER)"
WRAPPER_EXTENSION = octest
