<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ck</key>
		<string>amjYVOrzKpKkkHAsdEaClA</string>
		<key>cs</key>
		<string>kvqM2CQsUO3J6NHctJVhTOzlKZ0k7FsTaR5NwakYU</string>
		<key>name</key>
		<string>Adium</string>
	</dict>
</array>
</plist>
