<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>accounts_creation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>conversation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>favorites.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>followers.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>reverse_auth.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>streaming.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>streaming_with_bot.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>sttwitter_cli.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>t2rss.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0315A055192783B3001C6C02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0315A0DE1927FB56001C6C02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>036F19F0191B9CE00006A013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>036F1A79191B9E380006A013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>036F1A87191B9E630006A013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>036F1A95191B9E810006A013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03C412FA1913BF7400370144</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03C413151913BFA100370144</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03C413531913C0BD00370144</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03C4136E1913C1C100370144</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03C4144E19150EA300370144</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03E5FD3C1922636C007BE44D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
